@media only screen and (min-width: 100px) {
    .collapse {
        display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav.navbar-left {
       float: left;
       margin: 0;
    }

    .navbar-nav.navbar-right {
       float: right;
       margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 420px) {
     .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }
}
@media only screen and (max-width: 1200px) {
     #wrapper{
     	width:100% !important;    	
     }
     .portal{
     	border-radius:20px 0px 0px 20px !important;
     	border-right-color: transparent !important;
     }
}


*{
	font-family: 'Work Sans', sans-serif;
}

body{
	background-color: #1abc9c;
}
#ui-datepicker-div {display: none;}


.portal{
	height:87vh;
	background-color: #34495e;
	
	border-radius: 20px 0px 0px 20px;
	border-right:none;
	border-top:0;
	position: relative;
	padding-right:0px;
	padding-left: 0px;
	}
#wrapper{	
	height:90%;
	width:100%;
	padding-top:0px;
	position: relative;
}
.newsFeed{
	height:87vh;
	background-color: #34495e;
	border-radius: 0px 20px 20px 0px;
	border-right:none;
	border-top:0;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.innerPortal{
	height:80%;
	margin-top: 40px;
	border-left: none;
	border-right: none;
}
.innerPortalMap{
	height:550px;
	margin-top: 100px;
	border-left: none;
	border-right: none;

}
.mapReadout{
	border:3px solid black;
	margin-top: 100px;
	height:250px;
	border:3px solid #6c5ce7;
  	border-radius: 20px 0px 0px 20px !important;
  	border-right:none;
}

#shopName{
	font-size:25px;
	color:#1abc9c;
	font-weight: bold;
	text-align: center;
}
#shopWeb,#shopAdd,#shopNum{
	color:white;
	font-size: 15px;
	text-align: center;
}
.name,.plat,.release,.priority,.gen{	
	color: white;

}
.name{
	display: inline-block;
	margin-bottom: 5px;
}

.plat{
	display: inline-block;
	color: #7f8c8d;
}

.gameDiv{
	border-top: 3px solid #6c5ce7;
	width:100%;
	height:180px;
	padding-left:9px;
	padding-right: 9px;
	border-bottom: 3px solid #6c5ce7;
}


.countDownBlock{
	height: 130px;
	width: 130px;
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
	border-radius: 20px;
	float: right;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.blockText{
	color: white;
	font-size:45px;
	text-decoration: bold;
	
}
#map{
  	height:100%;
  	width:100%;
  	float:left;
  	border-top:2px solid white;
  	margin-bottom: 2px;
  	border:3px solid #6c5ce7;
  	border-radius: 20px !important;
  	
 }

.plusGame{
	color: #1abc9c;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;

}

.modalAdd{
	width:100%;
 	height:100%;
 	background-color: rgba(0,0,0,0.7);
 	position:absolute;
 	top:0;	
 	align-items:center;
 	display: none;
}
.modalShow{
	width:100%;
 	height:100%;
 	background-color: rgba(0,0,0,0.7);
 	position:absolute;
 	top:0;	
 	align-items:center;
 	display: flex;
 	align-items: center;
 	justify-content: center;

}

#gameInput{
	width:450px;
	background-color: #34495e;
	border:3px solid #3498db;;
	border-radius: 20px;
	padding: 20px;

}

a,a:visited,a:hover{
	color: #1abc9c;
}

.navbar.navbar-inverse{
	background:#2e3131;;
	border:0 !important;
	box-shadow: none;
	z-index: 2;

}

.navbar-brand.brand{
	color: #1abc9c !important ;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
#navSeperator{
	height:3px;
	background-color:#6c5ce7;
}

.nav.navbar-nav.navbar-right li a{
	color: #1abc9c !important;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: right;
}



input::-webkit-input-placeholder {
color: #2e3131 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #2e3131 !important;  
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #2e3131 !important;  
}

input:-ms-input-placeholder {  
color: #2e3131 !important;  
}

textarea::-webkit-textarea-placeholder{
	color:#2e3131 !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #2e3131!important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #2e3131 !important;
}

.form-control{
	border-color: #6c5ce7 !important;
	color: white;
	margin-bottom: 25px !important;
	background-color: transparent !important;

}

.form-group label{
	color:#3498db !important;
	font-size: 17px;
}

#addGameBtn{
	background-color: #3498db;;
	border: none;
	color: white;
}

.form-group select{
	background-color: #34495e !important;
}

.ui-datepicker{
	background-color: #34495e !important;
	height: 280px !important;
	width: 280px !important;
	border: 3px solid #6c5ce7;
	border-radius: 15px;
	padding-left:18px;
	padding-top:15px;
}
.ui-datepicker-prev{
	margin-right: 10px;
}
.ui-datepicker-calendar{
	width: 250px;
	height: 200px;
}
.ui-datepicker-month,.ui-datepicker-year{
	color: white;
}
.ui-datepicker-calendar span{
	color: white;
}

.removeGame{
	float: right;
}
#comparePrice{
	display: inline-block;
	margin-top: 3px;
}

.expandArrow{
	color: #1abc9c;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
}
.expandedSection{
	height:180%;
	border:3px solid #3498db;
	border-radius: 20px;
	margin-top: 5%;
	padding:5px;
	position: relative;
	
}
.minimizeArrow{
	color: #6c5ce7;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	margin-bottom: 10px;
}
.headline{
	color:#1abc9c ;
	display: inline-block;
	width: 60%;
	margin-top:2%;
}
.feedHeadline{
	color:#1abc9c ;
	display: inline-block;
	width: 100%;
	margin-top:2%;

}
.author{
	color: #7f8c8d;
	margin-bottom: 2px;
	display: inline-block;
	width:60%;
}

.source{
	color:#6c5ce7;
	display: inline-block;
	width:60%;
}
.feedSource{
	color:#6c5ce7;
	display: inline-block;
	width:100%;

}
.description{
	color: white;
	width:100%;
}
.feedDesc{
	color: white;
	width:100%;
}
.newsDiv{
	border-bottom: 2px solid #3498db;
	height: 80%;
	padding:8px;
}
.feedNewsDiv{
	border-bottom: 2px solid #3498db;
	height: 220px;
	padding:7px;	
}
.newsImg{
	height:73%;
	width:34%;
	float:right;
	margin-top:3%;
	margin-left: 5px;
	border:2px solid #6c5ce7;
	border-radius: 15px;
}

.portalTitleBlock {
    background-color: #6c5ce7;
    width: 100%;
    height:65px;
    padding: 0;
    border:1px solid transparent;
    border-left:2px solid #6c5ce7;
    border-radius:20px 0px 0px 0px;
    border-top:0;
    
}
.newsFeedTitleBlock{
	background-color: #6c5ce7;
    width: 100%;
    height:65px;
    padding: 0;
    border:3px solid transparent;
    border-radius:0px 20px 0px 0px;
    border-top:0;
    
}
.portalTitle{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	margin: auto
}

.newsFeedTitle{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	margin: auto
}
.newsPortal{
	width:100%;
	height: 90%;

}

