@media only screen and (min-width: 100px) {
    .collapse {
        display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav.navbar-left {
       float: left;
       margin: 0;
    }

    .navbar-nav.navbar-right {
       float: right;
       margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 420px) {
     .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }
}


*{
	font-family: 'Work Sans', sans-serif;
}

body{
	background-color: #1abc9c;
}
#ui-datepicker-div {display: none;}

.portalRow{
	display: flex;
	align-items: center;
}
.portal{
	height:786px;
	background-color: #34495e;
	border:3px solid #3498db;
	border-radius: 20px;
}
.container{
	height:100vh;

}

.innerPortal{
	border:2px solid #e74c3c;
	height:640px;
	margin-top: 100px;
	border-left: none;
	border-right: none;


}
#name,#plat,#release,#priority,#gen{	
	color: white;

}
#name{
	display: inline-block;
	margin-bottom: 5px;
}

#plat{
	display: inline-block;
	color: #7f8c8d;
}

.gameDiv{
	border-bottom: 3px solid  #e74c3c;
	width:100%;
	height:180px;
}


.countDownBlock{
	height: 100px;
	width: 100px;
	background-color: #3498db;
	border: 1px solid #3498db;
	border-radius: 20px;
	float: right;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.blockText{
	color: white;
	font-size:35px;
	text-decoration: bold;
	
}

.plusGame{
	color: #e74c3c;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;

}

.modalAdd{
	width:100%;
 	height:100%;
 	background-color: rgba(0,0,0,0.7);
 	position:absolute;
 	top:0;	
 	align-items:center;
 	display: none;
}
.modalShow{
	width:100%;
 	height:100%;
 	background-color: rgba(0,0,0,0.7);
 	position:absolute;
 	top:0;	
 	align-items:center;
 	display: flex;
 	align-items: center;
 	justify-content: center;

}

#gameInput{
	width:450px;
	background-color: #34495e;
	border:3px solid #3498db;;
	border-radius: 20px;
	padding: 20px;

}

a,a:visited,a:hover{
	color: #1abc9c;
}

.navbar.navbar-inverse{
	margin-bottom: 0px;
	background:#2e3131;;
	border:0 !important;
	box-shadow: none;
	z-index: 2;

}

.navbar-brand.brand{
	color: #1abc9c !important ;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
#navSeperator{
	height:3px;
	background-color:#e74c3c;
}

.nav.navbar-nav.navbar-right li a{
	color: #1abc9c !important;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: right;
}



input::-webkit-input-placeholder {
color: #2e3131 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #2e3131 !important;  
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #2e3131 !important;  
}

input:-ms-input-placeholder {  
color: #2e3131 !important;  
}

textarea::-webkit-textarea-placeholder{
	color:#2e3131 !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #2e3131!important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #2e3131 !important;
}

.form-control{
	border-color: #e74c3c !important;
	color: white;
	margin-bottom: 25px !important;
	background-color: transparent !important;

}

.form-group label{
	color:#3498db !important;
	font-size: 17px;
}

#addGameBtn{
	background-color: #3498db;;
	border: none;
	color: white;
}

.form-group select{
	background-color: #34495e !important;
}

.ui-datepicker{
	background-color: #34495e !important;
	height: 280px !important;
	width: 280px !important;
	border: 3px solid #e74c3c;
	border-radius: 15px;
	padding-left:18px;
	padding-top:15px;
}
.ui-datepicker-prev{
	margin-right: 10px;
}
.ui-datepicker-calendar{
	width: 250px;
	height: 200px;
}
.ui-datepicker-month,.ui-datepicker-year{
	color: white;
}
.ui-datepicker-calendar span{
	color: white;
}

.removeGame{
	float: right;
}
#comparePrice{
	display: inline-block;
	margin-top: 3px;
}

.expandArrow{
	color: #3498db;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
}
.expandedSection{
	height:450px;
	border:3px solid #3498db;
	border-radius: 20px;
	margin-top: 5%;
	padding:5px;
	overflow: scroll;
}
.minimizeArrow{
	color: #e74c3c;
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	margin-bottom: 10px;
}
.headline{
	color:#1abc9c ;
	display: inline;
	width: 50%;
}
.author{
	color: #7f8c8d;
	margin-bottom: 2px;
}
.source{
	color:#e74c3c;
}
.description{
	color: white;
}
.newsDiv{
	border-bottom: 2px solid #3498db;
	height: 220px;
	padding:8px;
}
.newsImg{
	height:150px;
	width:200px;
	float:right;
	margin-top:5%;
	margin-left: 5px;
	border:2px solid #e74c3c;
	border-radius: 15px;
}